<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}" href="/static/css/signup.css">
    <link rel="stylesheet" th:href="@{/css/global.css}" href="/static/css/global.css">
</head>
<body>
<header>

</header>
<main>
    <div id="signup-form">
        <h1>SignUp</h1>

        <form th:action="@{/signup}" method="post" th:object="${signUpRequestDto}">
            <label>Email</label>

            <input type="email" placeholder="email" th:field="*{email}">
            <p th:errors="*{email}"></p>


            <label>PW</label>
            <input type="password" placeholder="password" th:field="*{password}">
            <p th:errors="*{password}"></p>

            <label>Nickname</label>
            <input placeholder="nickname" th:field="*{nickname}">
            <p th:errors="*{nickname}"></p>

            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
            </div>


            <button>회원가입</button>
        </form>

    </div>
</main>
<footer>

</footer>

</body>
</html>